
<div class="d-flex justify-content-center">
    <div class="form-container w-100">
        <div class="row">
            <div class="col-1 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-arrow-left cursor-pointer" (click)="cancel()"></i>
            </div>
            <div class="col-11">
                <h4 class="text-center py-3">{{paciente?.idUsuario ? 'Editar Paciente' : 'Crear Nuevo Paciente'}}</h4>
            </div>
        </div>
        @if (paciente) {
            <div class=" w-100">
                <form #f="ngForm" class="form PrintArea py-4" (ngSubmit)="save()">
                
                    <div class="mb-3 p-0 row">
                        <div class="text-left p-0 col-4 title2 my-auto">Nombres*</div>
                        <div class="p-0 col-8">
                            <input class="w-100 form-control mr-2" type="text" [(ngModel)]="paciente!.nombre" required
                                #fullName="ngModel" name="fullName" maxLength="50" autocomplete="off" max="50" />
                            <p class="invalid-feedback d-block p-0 m-0"
                                [ngClass]="{'d-block': fullName.invalid && (fullName.dirty || fullName.touched)}">
                                Este campo es requerido
                            </p>
                        </div>
                    </div>
                    <div class="mb-3 p-0 row">
                        <div class="text-left p-0 col-4 title2 my-auto">Apellidos*</div>
                        <div class="p-0 col-8">
                            <input class="w-100 form-control mr-2" type="text" [(ngModel)]="paciente!.apellido" 
                                #apellido="ngModel" required name="apellido" maxLength="50" autocomplete="off" max="50" />
                            <p class="invalid-feedback d-block p-0 m-0"
                                [ngClass]="{'d-block': apellido.invalid && (apellido.dirty || apellido.touched)}">
                                Este campo es requerido
                            </p>
                        </div>
                    </div>
                    <div class="mb-3 p-0 row">
                        <div class="text-left p-0 col-4 title2 my-auto">Dirección*</div>
                        <div class="p-0 col-8">
                            <input class="w-100 form-control mr-2" type="text" [(ngModel)]="paciente!.direccion" required
                                #direccion="ngModel" name="direccion" maxLength="50" autocomplete="off" max="50" />
                            <p class="invalid-feedback d-block p-0 m-0"
                                [ngClass]="{'d-block': direccion.invalid && (direccion.dirty || direccion.touched)}">
                                Este campo es requerido
                            </p>
                        </div>
                    </div>
                    <div class="mb-3 p-0 row">
                        <div class="text-left p-0 col-4 title2 my-auto">Telefono*</div>
                        <div class="p-0 col-8">
                            <input class="w-100 form-control mr-2" type="text" [(ngModel)]="paciente!.telefono" required
                                #telefono="ngModel" name="telefono" maxLength="50" autocomplete="off" max="50" />
                            <p class="invalid-feedback d-block p-0 m-0"
                                [ngClass]="{'d-block': telefono.invalid && (telefono.dirty || telefono.touched)}">
                                Este campo es requerido
                            </p>
                        </div>
                    </div>
                    <div class="mb-3 p-0 row">
                        <div class="text-left p-0 col-4 title2 my-auto">Email*</div>
                        <div class="p-0 col-8">
                            <input class="w-100 form-control mr-2" type="email" [(ngModel)]="paciente!.email" required
                                #email="ngModel" name="email" maxLength="50" autocomplete="off" max="50" />
                            <p class="invalid-feedback d-block p-0 m-0"
                                [ngClass]="{'d-block': email.invalid && (email.dirty || email.touched)}">
                                Este campo es requerido
                            </p>
                        </div>
                    </div>
                    <div class="mb-3 p-0 row py-3">
                        <div class="col-6 d-flex">
                            <button class="btn btn-danger m-auto w-100 form-btn" (click)="cancel()">
                                Cancelar
                            </button>
                        </div>
                        <div class="col-6 d-flex">
                            <button class="btn btn-primary m-auto w-100 form-btn" [disabled]="!f.valid" type="submit">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>